.fundoHtml{
    background-color: green;
    color:white;
    font: 30pt;
    text-align: center;
}
.fundoPHP{
    background-color: blue;
    color: red;
    font: 42pt;
    text-align: right;
}
.fundoMYSQL{
    background-color: yellow;
    color: orange;
    font: 56pt;
    text-align: left;
}
